---
import logo from "../../public/logo-vandessonsantiago.png"
---

<div class="max-w-6xl mx-auto flex flex-col justify-center items-center gap-2 m-2 p-4 text-sm md:text-base text-white">
    <div>
        <img src={logo.src} alt="logo" class="w-36 h-auto" />
    </div>
    <div class="p-4">
        <p class="text-center">Este site não promete resultados. Atendimento jurídico por Vandesson Santiago — OAB/AM 12217.</p>
    </div>
    <div>
    <p class="text-center">© 2025 todos os direitos reservados. Políticas e Privacidade.</p>
    <p class="text-center text-xs text-gray-300 mt-2">Este site não faz parte do Google nem do Facebook ou do Facebook Inc. Além disso, não oferecemos nenhum tipo de serviço oficial do governo, NÃO praticamos fraude, não somos uma empresa que vende criptoativos ou qualquer outro serviço.</p>
    </div>
</div>